@charset "utf-8";
html {
  min-width: 320px;
  overflow-x: hidden;
}
html,
body {
  height: 100%;
  color: #000000;
  line-height: 1;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(242, 137, 76, 0.05);
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
span,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-text-size-adjust: none;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: 0;
  background: #ffffff;
}
ins,
a {
  text-decoration: none;
  transition: color .1s ease;
  -webkit-transition: color .1s ease;
  color: #000000;
}
h2 {
  font-size: 1rem;
  font-weight: 400;
}
form {
  width: 100%;
}
input::-ms-clear {
  display: none;
}
input[type=button],
input[type=text],
input[type=password],
[type=tel],
[type=number],
[type=url],
[type=email],
button,
textarea {
  border: none;
  -webkit-appearance: none;
  outline: none;
}
input::-webkit-input-placeholder {
  font-weight: normal;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
img {
  width: 100%;
  vertical-align: middle;
  border: 0;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.mp-main {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
.mp-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.mp-container > form {
  height: 100%;
  padding-bottom: 5rem;
  overflow: auto;
}
.flex-box {
  display: -webkit-flex;
  display: flex;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar {
  display: none;
}
/*
 * font-icon.less
 * v1.1.1 MIT License
 * Copyright (c) 2018-08-10 Gjb, Inc.
 *
*/
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?t91rp6');
  src: url('fonts/icomoon.eot?t91rp6#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?t91rp6') format('truetype'), url('fonts/icomoon.woff?t91rp6') format('woff'), url('fonts/icomoon.svg?t91rp6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-link:before {
  content: "\e92d";
}
.icon-tel-fill:before {
  content: "\e92e";
}
.icon-user2:before {
  content: "\e92f";
}
.icon-addres-fill:before {
  content: "\e930";
}
.icon-upload-fill:before {
  content: "\e931";
}
.icon-img:before {
  content: "\e932";
}
.icon-vip2:before {
  content: "\e933";
}
.icon-vip1:before {
  content: "\e934";
}
.icon-add-friends:before {
  content: "\e900";
}
.icon-add-user:before {
  content: "\e901";
}
.icon-addres:before {
  content: "\e902";
}
.icon-address-2:before {
  content: "\e903";
}
.icon-article-gl:before {
  content: "\e904";
}
.icon-ck-member:before {
  content: "\e905";
}
.icon-collection-2:before {
  content: "\e906";
}
.icon-collection-me:before {
  content: "\e907";
}
.icon-collection:before {
  content: "\e908";
}
.icon-fb-set:before {
  content: "\e909";
}
.icon-h5:before {
  content: "\e90a";
}
.icon-home:before {
  content: "\e90b";
}
.icon-mailbox:before {
  content: "\e90c";
}
.icon-member-2:before {
  content: "\e90d";
}
.icon-member:before {
  content: "\e90e";
}
.icon-ms:before {
  content: "\e90f";
}
.icon-qq:before {
  content: "\e910";
}
.icon-service-tel:before {
  content: "\e911";
}
.icon-service-wc:before {
  content: "\e912";
}
.icon-service:before {
  content: "\e913";
}
.icon-tel-me:before {
  content: "\e914";
}
.icon-tel:before {
  content: "\e915";
}
.icon-upload:before {
  content: "\e916";
}
.icon-url:before {
  content: "\e917";
}
.icon-vip:before {
  content: "\e918";
}
.icon-wx:before {
  content: "\e919";
}
.icon-xjwz:before {
  content: "\e91a";
}
.icon-article:before {
  content: "\e91b";
}
.icon-card:before {
  content: "\e91c";
}
.icon-circle:before {
  content: "\e91d";
}
.icon-connection:before {
  content: "\e91e";
}
.icon-edit:before {
  content: "\e91f";
}
.icon-heart:before {
  content: "\e920";
}
.icon-help:before {
  content: "\e921";
}
.icon-my-circle:before {
  content: "\e922";
}
.icon-purse:before {
  content: "\e923";
}
.icon-security:before {
  content: "\e924";
}
.icon-sign-in:before {
  content: "\e925";
}
.icon-user:before {
  content: "\e926";
}
.icon-video:before {
  content: "\e927";
}
.icon-wz-set:before {
  content: "\e928";
}
.icon-arrow-left:before {
  content: "\e935";
}
.icon-more:before {
  content: "\e936";
}
.icon-correct:before {
  content: "\e92c";
}
.icon-radio-fill:before {
  content: "\e929";
}
.icon-radio:before {
  content: "\e92a";
}
.icon-close:before {
  content: "\e92b";
}
/*
 * radio.less
 * v1.0 MIT License
 * Copyright (c) 2018.8.11 Moonlight
 *
*/
.switch-tit {
  margin-right: .5rem;
  vertical-align: super;
}
/* radio */
label.bui-radios-label input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
label.bui-radios-label .bui-radios {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
  background: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 50%;
  vertical-align: -2px;
}
label.bui-radios-label input:checked + .bui-radios:after {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  background-color: #fff;
  border-radius: 50%;
  top: 3px;
  left: 3px;
}
label.bui-radios-label input:checked + .bui-radios {
  background: #fe9214;
  border: 1px solid #fe9214;
}
label.bui-radios-label input:disabled + .bui-radios {
  background-color: #e8e8e8;
  border: solid 1px #979797;
}
label.bui-radios-label input:disabled:checked + .bui-radios:after {
  background-color: #c1c1c1;
}
label.bui-radios-label.bui-radios-anim .bui-radios {
  -webkit-transition: background-color ease-out 0.3s;
  transition: background-color ease-out 0.3s;
}
/* checkbox */
label.bui-checkbox-label input {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
label.bui-checkbox-label .bui-checkbox {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
  background: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 15px;
  vertical-align: -4px;
}
label.bui-checkbox-label input:checked + .bui-checkbox:after {
  color: #FFFFFF;
  font-family: icomoon;
  content: "\e92c";
  width: 15px;
  height: 15px;
  font-size: 12px;
  line-height: 15px;
  position: absolute;
  top: 1px;
  left: 0;
}
label.bui-checkbox-label input:checked + .bui-checkbox {
  background: #fe9214;
  border: 1px solid #fe9214;
}
label.bui-checkbox-label input:disabled + .bui-checkbox {
  background-color: #e8e8e8;
  border: solid 1px #979797;
}
label.bui-checkbox-label input:disabled:checked + .bui-checkbox:after {
  color: #c1c1c1;
}
label.bui-checkbox-label.bui-checkbox-anim .bui-checkbox {
  -webkit-transition: background-color ease-out 0.3s;
  transition: background-color ease-out 0.3s;
}
label.bui-switch-label input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
label.bui-switch-label input:checked {
  border-color: #ff8a00;
  box-shadow: #ff8a00 0 0 0 16px inset;
  background-color: #ff8a00;
}
label.bui-switch-label input:checked:before {
  left: 27px;
}
label.bui-switch-label input:disabled + .bui-switch {
  background-color: #e8e8e8;
  border: solid 1px #dfdfdf;
}
label.bui-switch-label input:disabled + .bui-switch:before {
  background-color: #c1c1c1;
}
label.bui-switch-label input:disabled:checked + .bui-switch {
  background-color: #e8e8e8;
  box-shadow: #e8e8e8 0 0 0 16px inset;
  border: solid 1px #dfdfdf;
}
label.bui-switch-label input:disabled:checked + .bui-switch:before {
  background-color: #c1c1c1;
}
label.bui-switch-label .bui-switch {
  width: 50px;
  height: 25px;
  position: relative;
  border: 1px solid #dfdfdf;
  background-color: #fdfdfd;
  box-shadow: #dfdfdf 0 0 0 0 inset;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-clip: content-box;
  display: inline-block;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}
label.bui-switch-label .bui-switch:before {
  content: '';
  width: 23px;
  height: 23px;
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
label.bui-switch-label input:checked + .bui-switch {
  border-color: #ff8a00;
  box-shadow: #ff8a00 0 0 0 16px inset;
  background-color: #ff8a00;
}
label.bui-switch-label input:checked + .bui-switch:before {
  left: 27px;
}
label.bui-switch-label.bui-switch-anim {
  -webkit-transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
  transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}
label.bui-switch-label.bui-switch-anim .bui-switch:before {
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
}
label.bui-switch-label.bui-switch-anim input:checked + .bui-switch {
  box-shadow: #ff8a00 0 0 0 16px inset;
  background-color: #ff8a00;
  -webkit-transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
  transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
}
label.bui-switch-label.bui-switch-anim input:checked + .bui-switch:before {
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
}
label.bui-switch-label.bui-switch-animbg {
  -webkit-transition: background-color ease 0.4s;
  transition: background-color ease 0.4s;
}
label.bui-switch-label.bui-switch-animbg .bui-switch:before {
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
}
label.bui-switch-label.bui-switch-animbg input:checked + .bui-switch {
  box-shadow: #dfdfdf 0 0 0 0 inset;
  background-color: #ff8a00;
  -webkit-transition: border-color 0.4s, background-color ease 0.4s;
  transition: border-color 0.4s, background-color ease 0.4s;
}
label.bui-switch-label.bui-switch-animbg input:checked + .bui-switch:before {
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
}
/*
 * flex.less
 * v1.0 MIT License
 * Copyright (c) 2018.8.9 Moonlight
 *
*/
.flex-wrap_wrap {
  flex-wrap: wrap;
}
.display {
  display: -webkit-flex;
  display: flex;
}
.box_orient {
  /* UC 浏览器 使用flex-direction: column;的时候需要加上*/
  -webkit-box-orient: vertical;
  box-orient: vertical;
}
.align_items_center {
  -webkit-align-items: center;
  align-items: center;
}
.justify_content_center {
  -webkit-justify-content: center;
  justify-content: center;
}
.justify_content_space_between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.flex_flow {
  flex-flow: wrap;
}
.flex {
  display: -webkit-flex;
  display: flex;
}
/*
 * mp-waves.less
 * v1.0 MIT License
 * Copyright (c) 2018.8.10 Moonlight
 *
*/
.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  opacity: 0;
  background: rgba(254, 138, 3, 0.2);
  background: -webkit-radial-gradient(rgba(254, 138, 3, 0.2) 0, rgba(254, 138, 3, 0.3) 40%, rgba(254, 138, 3, 0.4) 50%, rgba(254, 138, 3, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: -o-radial-gradient(rgba(254, 138, 3, 0.2) 0, rgba(254, 138, 3, 0.3) 40%, rgba(254, 138, 3, 0.4) 50%, rgba(254, 138, 3, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: -moz-radial-gradient(rgba(254, 138, 3, 0.2) 0, rgba(254, 138, 3, 0.3) 40%, rgba(254, 138, 3, 0.4) 50%, rgba(254, 138, 3, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: radial-gradient(rgba(254, 138, 3, 0.2) 0, rgba(254, 138, 3, 0.3) 40%, rgba(254, 138, 3, 0.4) 50%, rgba(254, 138, 3, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform,opacity;
  -webkit-transform: scale(0) translate(0, 0);
  -moz-transform: scale(0) translate(0, 0);
  -ms-transform: scale(0) translate(0, 0);
  -o-transform: scale(0) translate(0, 0);
  transform: scale(0) translate(0, 0);
  pointer-events: none;
}
.waves-button,
.waves-button:hover,
.waves-button:visited {
  padding: 0;
  border-radius: 0;
  font-size: .7rem;
}
.waves-float,
.waves-float:active {
  box-shadow: none;
}
/*
 * mp-color.less
 * v1.0 MIT License
 * Copyright (c) 2018.8.10 Moonlight
 *
*/
.mp-color1 {
  color: #ff007e;
}
.mp-color2 {
  color: #00a0e9;
}
.mp-color3 {
  color: #ffbe22;
}
.mp-color4 {
  color: #f14b60;
}
.mp-color5 {
  color: #f8b551;
}
.mp-color6 {
  color: #43cb50;
}
.mp-color7 {
  color: #eb6ea6;
}
.mp-color8 {
  color: #8a8a8a;
}
.mp-color9 {
  color: #038bfe;
}
.mp-color10 {
  color: #fe8a03;
}
/*
 * mp-modal.less
 * v1.0 MIT License
 * Copyright (c) 2018.8.12 Moonlight
 *
*/
.mp-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.mp-modal-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}
.mp-modal-main {
  width: 12rem;
  padding: 1rem;
  background: #fff;
  border-radius: .5rem;
  z-index: 3;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -6rem;
  margin-top: -8rem;
}
.qr-img p {
  text-align: center;
  color: #888;
}
/*
 * input.less
 * v1.0 MIT License
 * Copyright (c) 2018.8.12 Moonlight
 *
*/
.input-item {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  min-height: 3rem;
  padding: 0 1rem;
  border-bottom: 1px solid #eee;
}
.input-item label {
  width: 5.5rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}
.input-item .mp-input {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  text-align: right;
  font-size: 1rem;
}
.input-item.flex-wrap_wrap {
  padding: 1rem;
}
.input-item .seat {
  margin-top: 1rem;
  width: 100%;
  text-align: right;
}
/*
 * mp-tab.less
 * v1.0 MIT License
 * Copyright (c) 2018.8.10 Moonlight
 *
*/
.mp-tab {
  height: 2.2rem;
  width: 100%;
  text-align: center;
}
.mp-tab .part {
  display: block;
  float: left;
  width: 50%;
  color: #fff;
  text-align: center;
  line-height: 2.2rem;
  background: #ff8a00;
}
.mp-tab .part:first-child {
  background: #353439;
}
.mp-tab a {
  display: block;
  color: #fff;
  text-align: center;
}
.mp-tab span.active a {
  color: #fff;
}
.mp-tab-wrap {
  display: flex;
  flex-direction: column;
}
/*
 * mp-list.less
 * v1.0 MIT License
 * Copyright (c) 2018.8.11 Moonlight
 *
*/
.auto {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.mp-list-item {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  min-height: 4rem;
  padding: 0 1rem;
  border-bottom: 1px solid #eee;
}
.mp-list_start {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}
.mp-list_info {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.mp-list_info .icon-wz-set {
  font-size: 1.4rem;
  margin-right: .5rem;
  margin-bottom: .25rem;
  color: #b1b1b1;
  display: inline-block;
  vertical-align: middle;
}
/*
 * header.less
 * v1.0 MIT License
 * Copyright (c) 2018.8.9 Moonlight
 *
*/
header {
  display: -webkit-flex;
  display: flex;
  height: 3rem;
  line-height: 3rem;
  background: #fff;
  border-bottom: 1px solid #eee;
}
.header-return {
  width: 3rem;
  text-align: center;
  font-size: 1.8rem;
  color: #353439;
}
.header-tit {
  flex: 1;
  margin-left: -3rem;
  text-align: center;
  font-size: 1.2rem;
}
/*
 * footer.less
 * v1.0 MIT License
 * Copyright (c) 2018.8.9 Moonlight
 *
*/
footer {
  height: 3.5rem;
  border-top: 1px solid #e7e7e7;
  background: #fff;
}
.footer-btn {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  z-index: 3;
  border-top: 1px solid #eee;
}
.footer-btn .mp-btn {
  width: 80%;
  margin: .5rem auto;
}
/*
 * mp-user.less
 * v1.0 MIT License
 * Copyright (c) 2018.8.9 Moonlight
 *
*/
.user {
  width: 30px;
  height: 30px;
  font-size: 10.71428571px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
  overflow: hidden;
  color: #fff;
  font-weight: 400;
  margin: 0 10px 0 0;
  flex-shrink: 0;
}
.user.user-img {
  background: none;
}
.user img {
  display: block;
  width: 100%;
}
.user_s {
  width: 1.6rem;
  height: 1.6rem;
  font-size: 0.57142857rem;
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem;
  border-radius: 1.6rem;
}
.user_m {
  width: 3rem;
  height: 3rem;
  font-size: 1.07142857rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  border-radius: 3rem;
}
.user_l {
  width: 4.5rem;
  height: 4.5rem;
  font-size: 1.60714286rem;
  -webkit-border-radius: 4.5rem;
  -moz-border-radius: 4.5rem;
  border-radius: 4.5rem;
}
.user_xl {
  width: 5rem;
  height: 5rem;
  font-size: 1.78571429rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  border-radius: 5rem;
}
.user-box a {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  line-height: 1.6rem;
  overflow: hidden;
}
.user-head {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 1rem 0 1rem 1rem;
  background: #fff;
}
.user-head-l {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.user-head-r .vip0 {
  margin-right: 1rem;
}
.user-head .user-box a {
  line-height: 2rem;
}
.user-head .user-name {
  font-size: 1.4rem;
}
.user-text {
  margin-left: .4rem;
}
.user-name {
  font-size: 1.2rem;
}
.user-name i {
  margin-right: .5rem;
  display: inline-block;
  vertical-align: text-top;
  margin-top: .2rem;
  color: #bfbfbf;
}
.user-vein-wrap {
  overflow: hidden;
  position: relative;
  flex: 1;
}
.user-vein-wrap .swiper-container {
  display: flex;
  height: 100%;
  padding-bottom: 2.2rem;
}
.user-vein-wrap .swiper-container .swiper-slide {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}
.user-vein-wrap .mp-bar + .swiper-container {
  padding-bottom: 4rem;
}
.user-vein-list .user-name i {
  color: #ff8a00;
}
.user-vein-list .user-name i.icon-ck-member {
  color: #e0005a;
}
.user-list li {
  border-bottom: 1px solid #eeeeee;
}
.user-list li a {
  padding: 1rem;
}
.user-name span,
.user-tit {
  font-size: .8rem;
  color: #848484;
}
/*
 * mp-menu.less
 * v1.0 MIT License
 * Copyright (c) 2018.8.9 Moonlight
 *
*/
.mp-menu {
  display: -webkit-flex;
  display: flex;
}
.mp-menu ul {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.mp-menu ul li {
  width: 25%;
  height: 6rem;
}
.mp-menu ul li a {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
  font-size: .85rem;
}
.mp-menu ul li a span:first-child {
  width: 2.5rem;
  height: 2.5rem;
}
.mp-menu ul li a i {
  font-size: 1.6rem;
  display: block;
}
.mp-menu.mp-tab {
  height: 4rem;
}
.mp-menu.mp-tab a {
  color: #000000;
}
.mp-menu.mp-tab a:first-child {
  position: relative;
}
.mp-menu.mp-tab a:first-child:after {
  position: absolute;
  content: "";
  width: 1px;
  height: 2rem;
  top: 1rem;
  right: 0;
  background: #eeeeee;
}
.mp-menu_two a {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 50%;
  height: 4rem;
  font-size: 1rem;
}
.mp-menu_two a i {
  font-size: 1.8rem;
}
.mp-menu_two a span {
  margin-left: .85rem;
}
.mp-menu_two .waves-button,
.mp-menu_two .waves-button:hover,
.mp-menu_two .waves-button:visited {
  font-size: 1rem;
}
/*
 * mp-nav.less
 * v1.0 MIT License
 * Copyright (c) 2018.8.9 Moonlight
 *
*/
.mp-nav {
  display: -webkit-flex;
  display: flex;
  height: 100%;
}
.mp-nav li {
  flex-grow: 1;
}
.mp-nav li a {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
  font-size: 0.7rem;
  color: #7d7c8b;
}
.mp-nav li a i {
  margin-bottom: .5rem;
  font-size: 1.4rem;
}
.mp-nav li a.active {
  color: #fe8a03;
}
/*
 * mp-banner.less
 * v1.0 MIT License
 * Copyright (c) 2018.8.10 Moonlight
 *
*/
.mp-banner {
  width: 100%;
}
.mp-banner img {
  width: 100%;
  display: block;
}
/*
 * mp-bar.less
 * v1.0 MIT License
 * Copyright (c) 2018.8.10 Moonlight
 *
*/
.mp-bar {
  width: 100%;
  height: .8rem;
  background: #eeeeee;
}
/*
 * mp-btn.less
 * v1.0 MIT License
 * Copyright (c) 2018.8.10 Moonlight
 *
*/
.mp-btn {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: .8rem;
  padding-right: .8rem;
  box-sizing: border-box;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 2.25;
  border-radius: .3rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}
.mp-btn a {
  color: #ffffff;
}
.mp-btn_xl {
  width: 100%;
  line-height: 2.6;
  font-size: 1.2rem;
}
.mp-btn-info {
  background: #fe9214;
}
.mp-btn-info:active {
  color: #ffffff;
  background-color: #ef860c;
}
.mp-btn-link {
  color: #ff8a00;
  border: 1px solid #ff8a00;
  line-height: 1.8rem;
  font-size: .85rem;
}
.mp-btn-link.del {
  color: #ff0000;
  border: 1px solid #ff0000;
}
.mp-btn-link.edit {
  color: #2577ff;
  border: 1px solid #2577ff;
}
.mp-btn-gray {
  background: #d9d9d9;
  color: #000;
}
.mp-btn-gold {
  background: #f8b551;
  color: #000;
}
.mp-btn-flex {
  position: fixed;
  bottom: 5rem;
  right: 1rem;
  z-index: 2;
}
.mp-btn-flex a {
  font-size: 5rem;
  color: #fe8a03;
  opacity: .8;
}
.mp-btn-flex a:hover {
  opacity: 1;
}
/*
 * mp-link.less
 * v1.0 MIT License
 * Copyright (c) 2018.8.12 Moonlight
 *
*/
.mp-link {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.mp-link a {
  width: 25%;
  text-align: center;
}
.mp-link-icon {
  display: block;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 3rem;
  margin: 0 auto;
  font-size: 1.6rem;
  background: #bdbdbd;
  color: #fff;
  margin-bottom: .5rem;
}
/*
 * extend.less
 * v1.0 MIT License
 * Copyright (c) 2018.8.10 Moonlight
 *
*/
.extend-head {
  padding: 1rem;
  background: #353439;
  color: #fff;
  overflow: hidden;
}
.extend-sum {
  width: 50%;
  float: left;
}
.extend-sum span {
  display: block;
  font-size: 0.8rem;
}
.extend-sum span:first-child {
  margin: .7rem 0 .3rem;
}
.extend-sum p {
  font-size: 2.6rem;
  letter-spacing: .2rem;
}
.extend-put {
  width: 5rem;
  margin-right: 2rem;
  float: right;
  text-align: center;
}
.extend-put a {
  margin-top: .5rem;
  display: block;
  color: #fff;
}
.extend-put a.extend-put-link {
  margin-top: 0.8rem;
  font-size: 0.8rem;
}
.extend-count {
  overflow: hidden;
  padding: 0.7rem 1rem;
}
.extend-count.isgray {
  padding: 0.4rem 1rem;
  background: #eeeeee;
}
.extend-count.isgray .fl {
  line-height: 1.8rem;
  color: #585858;
}
.extend-count .fl {
  color: #ff8a00;
}
.extend-count .fr {
  letter-spacing: .1rem;
}
/*
 * article.less
 * v1.0 MIT License
 * Copyright (c) 2018.8.11 Moonlight
 *
*/
.article-list li {
  padding: 1rem;
  border-bottom: .25rem solid #eeeeee;
  overflow: hidden;
}
.article-list-start {
  width: 4.8rem;
  height: 4.8rem;
  flex-shrink: 0;
  float: left;
}
.article-list-start img {
  width: 100%;
  display: block;
}
.article-list-info {
  margin-left: 5.8rem;
}
.article-list-info h1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 1.2;
  min-height: 2.25rem;
  font-size: 1rem;
}
.article-list-info p {
  overflow: hidden;
  font-size: 0.8rem;
  color: #999;
  margin: .25rem 0;
}
.article-list-info .article-btn {
  overflow: hidden;
}
.article-list-info .article-btn span {
  font-size: .8rem;
  color: red;
}
.article-list-info .article-btn a {
  float: right;
  line-height: 1;
  padding: .2rem;
  margin: 0 0 0 .5rem;
  border-radius: 3px;
}
/*
 * register.less
 * v1.0 MIT License
 * Copyright (c) 2018.8.11 Moonlight
 *
*/
.register-head {
  padding: 1.5rem 0;
  text-align: center;
}
.register-head_logo {
  width: 8rem;
  height: 8rem;
  border-radius: 8rem;
  margin: 1.5rem auto;
  overflow: hidden;
}
.register-head_logo img {
  width: 100%;
  display: block;
}
.register-form {
  padding: 1rem 2rem;
}
.register-form .res-btn {
  width: 100%;
}
.register-form .res-item {
  position: relative;
  width: 100%;
  border-radius: .25rem;
  margin-bottom: 1rem;
  padding-left: 2.5rem;
  background-color: #fff;
}
.register-form .res-item .input-item {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 3rem;
  border: none;
  border-bottom: 1px solid #a0a0a0;
  font-size: inherit;
}
.register-form .res-item .res-icon {
  position: absolute;
  left: 0;
  top: .75rem;
  z-index: 100;
  display: inline-block;
  font-size: 1.6em;
  color: #9c9c9c;
}
.register-form .res-tit {
  margin-bottom: 3rem;
  text-align: right;
}
.register-form .res-ck {
  font-size: .8rem;
  margin-top: 2rem;
}
.register-form .res-ck span {
  margin-left: .5rem;
  line-height: 1.2rem;
}
.register-form.forget {
  padding-top: 2rem;
}
.register-form.forget .res-item {
  padding-left: 0;
}
.register-form.forget .res-btn {
  margin-top: 4rem;
}
.register-form.security {
  padding: 0;
}
.register-form.security .res-item {
  display: -webkit-flex;
  display: flex;
  padding: 0 1rem;
  margin-bottom: 0;
  border-bottom: 1px solid #a0a0a0;
  border-radius: 0;
}
.register-form.security .res-item label {
  line-height: 3rem;
  width: 5.5rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}
.register-form.security .res-item input {
  border: none;
  color: #777;
}
.register-form.security .res-btn {
  padding: 1rem 1rem 2rem;
}
.register-form.security .v-code-box {
  color: #fff;
  background: #00a0e9;
}
.register-form.security .v-code-box:after {
  display: none;
}
.forget-head {
  background: #fe9113;
  color: #fff;
  text-align: center;
  line-height: 9rem;
  font-size: 5rem;
}
.v-code input {
  padding-right: 8rem;
}
.v-code-box {
  width: 7rem;
  line-height: 3rem;
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 1rem;
  color: #fe8a03;
}
.v-code-box:after {
  position: absolute;
  top: 1rem;
  left: 0;
  content: "";
  width: 1px;
  height: 1rem;
  background: #fe8a03;
}
/*
 * login.less
 * v1.0 MIT License
 * Copyright (c) 2018.8.11 Moonlight
 *
*/
.login {
  background-image: url('../images/login-bg.jpg');
  background-size: 100% 100%;
}
.login .register-form .res-item,
.login .register-form .res-item .input-item,
.login .mp-btn-info {
  background: transparent;
}
.login .register-form .res-item .res-icon,
.login .register-form .res-item .input-item,
.login .register-form .res-item .input-item::-webkit-input-placeholder,
.login .register-form .res-tit a,
.login .register-form .res-ck span {
  color: #fff;
}
.login .register-form .res-item .input-item {
  border-color: #fff;
}
.login .mp-btn-info {
  border: 1px solid #fff;
}
.login .register-form .res-ck span b {
  color: #669cff;
}
.login label.bui-checkbox-label input:checked + .bui-checkbox {
  background: #fe1414;
  border: 1px solid #fe2a14;
}
/*
 * h5.less
 * v1.0 MIT License
 * Copyright (c) 2018.8.11 Moonlight
 *
*/
.h5-list {
  overflow: auto;
}
.h5-list li {
  border-bottom: 1px solid #eee;
}
.h5-list a {
  display: -webkit-flex;
  display: flex;
  padding: 1rem;
}
.h5-list .h5-text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  line-height: 1.4rem;
}
.h5-list .h5-text i {
  margin-right: .5rem;
  margin-bottom: .35rem;
  font-size: 1.2rem;
  color: #df4e51;
  vertical-align: middle;
  display: inline-block;
}
.h5-list .h5-img {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 8rem;
  padding-left: .5rem;
}
.h5-list .h5-img img {
  width: 100%;
  display: block;
}
/*
 * help.less
 * v1.0 MIT License
 * Copyright (c) 2018.8.12 Moonlight
 *
*/
.help-head {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 5rem;
  color: #00a0e9;
}
.help-head i {
  font-size: 2rem;
  margin-right: .5rem;
}
.help-btn {
  padding: .5rem 0;
  text-align: center;
}
.help-btn a {
  margin: 0 .25rem;
  font-size: 2.5rem;
  color: #f05521;
}
.help-list {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.help-list a {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  min-height: 4rem;
  padding: 0 1rem;
  border-bottom: 1px solid #eee;
}
.help-list-text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.help-list-info {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 1rem;
  color: #888;
}
/*
 * upload.less
 * v1.0 MIT License
 * Copyright (c) 2018.8.12 Moonlight
 *
*/
.upload-qr {
  position: relative;
  width: 8rem;
  height: 8rem;
  margin: 1.5rem auto;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: .5rem;
  text-align: center;
}
.upload-qr i {
  font-size: 2rem;
  color: #666;
  margin: 1rem 0 .5rem;
  display: inline-block;
}
.upload-qr span {
  display: block;
  font-size: 0.8rem;
  margin-top: .2rem;
  color: #777;
}
.upload-qr img {
  width: 100%;
  height: 100%;
}
.upload-qr_icon,
.upload-qr_file {
  position: absolute;
  top: 0;
  left: 0;
  width: 8rem;
  height: 8rem;
  z-index: 1;
}
.upload-qr_file {
  z-index: 2;
  opacity: 0;
}
.upload-ad {
  position: relative;
  margin: 1rem;
  background: #eee;
  border-radius: .4rem;
  text-align: center;
  overflow: hidden;
}
.upload-ad .upload-qr_file {
  width: 100%;
  height: 100%;
}
.upload-ad_icon {
  padding: 1rem;
  line-height: 1.2rem;
  color: #979797;
}
.upload-ad_icon i {
  font-size: 2rem;
  margin: 1rem 0;
  display: block;
}
.upload-ad_link {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.upload-ad_link > div {
  width: 100%;
}
.upload-ad_link .mp-list_start {
  padding: .5rem 0;
  border-bottom: 1px solid #eee;
}
.upload-ad_link input {
  line-height: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}
/*
 * profit.less
 * v1.0 MIT License
 * Copyright (c) 2018.8.12 Moonlight
 *
*/
.profit-list {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.profit-list a {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  min-height: 4rem;
  margin: 0 1rem;
  border-bottom: 1px solid #eee;
}
.profit-list-text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.profit-list-text p {
  font-size: 1.2rem;
  margin-bottom: .5rem;
}
.profit-list-text p.exp {
  margin-bottom: 0;
  font-size: .8rem;
  color: #888;
}
.profit-list-info {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 9rem;
  color: #888;
  text-align: right;
}
.profit-list-info span {
  margin-bottom: .5rem;
  font-size: 1.4rem;
  color: #fe8a03;
  display: block;
}
.profit-list-info span.time {
  margin-bottom: 0;
  font-size: .8rem;
  color: #888;
}
.profit-box {
  width: 100%;
  overflow: auto;
}
.profit-head {
  text-align: center;
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
}
.profit-head p {
  padding: .25rem 0;
}
.profit-sum {
  margin: 0 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
}
.profit-sum p {
  font-size: 0.7rem;
}
.profit-sum_input {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  padding-top: 1rem;
}
.profit-sum_input label {
  font-size: 1.4rem;
  margin-right: 1rem;
  margin-bottom: 0.3rem;
}
.profit-sum_input input {
  font-size: 2.4rem;
}
.profit-sum_input input::-webkit-input-placeholder {
  color: #000;
}
.profit-btn {
  padding: 1rem 3rem;
}
.profit-btn .mp-btn {
  margin: 1rem 0;
}
.profit-btn p {
  text-align: center;
  color: #888;
}
.profit-table_title {
  position: relative;
  padding: 1rem 1rem 1rem 2rem;
}
.profit-table_title:after {
  position: absolute;
  top: 1rem;
  left: 1rem;
  content: "";
  width: .3rem;
  height: 1rem;
  background: #F90;
  border-radius: .25rem;
}
.profit-table_th {
  border-top: .5rem solid #eee;
}
.profit-table ul li {
  display: -webkit-flex;
  display: flex;
  padding: .7rem 1rem;
  border-bottom: 1px solid #eee;
  font-size: .875rem;
}
.profit-table ul li.profit-table_th {
  border-bottom: .5rem solid #eee;
  font-size: 1rem;
  color: #2577ff;
}
.profit-table ul li span {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.profit-table ul li span:nth-child(2) {
  text-align: center;
}
.profit-table ul li span:last-child {
  text-align: right;
}
/*
 * vip.less
 * v1.0 MIT License
 * Copyright (c) 2018.8.12 Moonlight
 *
*/
.vip1,
.vip2 {
  font-size: 2rem;
  color: #c9aa79;
}
.vip-open-btn {
  line-height: 3rem;
  background: #fe8a03;
  text-align: center;
  color: #fff;
  display: block;
  z-index: 2;
}
.vip-open-list {
  position: relative;
  border-top: .5rem solid #eee;
  background: #fff;
  z-index: 4;
}
.vip-open-list li {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #eee;
}
.vip-open-list li span {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.vip-open-list li span:nth-child(2) {
  font-size: 1.4rem;
  font-weight: 600;
  color: #ff0000;
}
.vip-open-list li span s {
  font-size: 0.7rem;
  font-weight: 400;
  color: #888;
}
.vip-open-list li span mp-btn {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}
.vip-open-list li:last-child {
  font-size: 0.7rem;
  background: #eee;
}
.vip-open-list li:last-child p {
  width: 100%;
  text-align: center;
}
.vip-open-list li:last-child span {
  color: #f8b551;
}
/*
 * page.less
 * v1.0 MIT License
 * Copyright (c) 2018.8.12 Moonlight
 *
*/
.page-btn-link {
  display: -webkit-flex;
  display: flex;
}
.page-btn-link a {
  flex: 1;
  text-align: center;
  line-height: 3rem;
  border-bottom: 1px solid #eee;
}
.page-btn-link a:first-child {
  border-right: 1px solid #eee;
}
.page-link-box {
  padding: 1rem;
}
.page-link-box ul {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
.page-link-box ul li {
  width: 16.66666%;
  font-size: 2rem;
  color: #00a0e8;
  text-align: center;
  padding-top: 1rem;
}
.form-box {
  padding: 1rem;
}
.form-box input,
.form-box textarea {
  margin-bottom: 1rem;
  display: block;
  width: 100%;
  border: 1px solid #eee;
  padding: .7rem;
  font-size: 1rem;
}
